.footer {
  width: 100%;
  margin: 0 auto;
  height: 150px;
  background-color: #464646;
  margin-top: 35px;
}

.footer img {
  width: 50px;
  height: 50px;
}

textarea {
  resize: none;
}

.footer a {
  cursor: pointer;
}
